@import "normalize";

:root {
  --interval: 1.5;
  --scale0: 1rem;
  --scale-1: calc(var(--scale0) / var(--interval));
  --scale-2: calc(var(--scale-1) / var(--interval));
  --scale1: calc(var(--scale0) * var(--interval));
  --scale2: calc(var(--scale1) * var(--interval));

  --background-color: #eaeaea;
  --primary-color: #d69e2e;
  --secondary-color: #111;
}

body[data-theme="dark"] {
  --background-color: #010411;
  --secondary-color: #fff;
}

html {
  line-height: 1.5;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.container {
   max-width: 42rem;
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
   margin-left: auto;
   margin-right: auto;
}

.content {
  margin-top: 2.5rem;
}

footer {
  margin-top: 2.5rem;
  text-align: center;
}

body > header {
  text-align: center;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: solid 2px var(--primary-color);

  &:hover {
    color: var(--primary-color-lightened);
    border-bottom-color: var(--primary-color-lightened);
  }
}

article.post-list {
  div {
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

article.post {
  header {
    text-align: center;
  }
}

