pre {
    background-color: var(--source-code-bg);
}

.sourceCode {
  // KeyWordTok
  kw { color: var(--source-code-1); }
  // DataTypeTok
  dt { color: var(--source-code-1); }

  // DecValTok (decimal value), BaseNTok, FloatTok
  .dv, .bn, .fl { color: var(--source-code-2); }
  // CharTok
  ..ch { color: var(--source-code-3); }
  // StringTok
  .st { color: var(--source-code-4); }
  // CommentTok
  .co { color: var(--source-code-5); }
  // OtherTok
  .ot { color: var(--source-code-6); }
  // AlertTok
  .al { color: var(--source-code-7); font-weight: bold; }
  // FunctionTok
  .fu { color: var(--source-code-8); }
  // RegionMarkerTok
  .re { }
  // ErrorTok
  .er { color: var(--source-code-9); font-weight: bold; }
}

