$themeSwitchHeight: 1rem;
$themeSwitchWidth: $themeSwitchHeight * 2;

#themeSwitch {
  position: absolute;
  right: 0;
  top: -6px;

  input[type=checkbox] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:after {
      content: '';
      width: $themeSwitchWidth;
      height: $themeSwitchHeight;
      display: inline-block;
      border-radius: 18px;
      clear: both;
      background-color: #999;
    }

    &:before {
      content: '';
      width: $themeSwitchHeight;
      height: $themeSwitchHeight;
      display: block;
      position: absolute;
      left: 0;
      border-radius: 50%;
      background-color: var(--other-color);
    }

    &:checked:before {
      left: $themeSwitchHeight;
    }

    &:checked:after {
      background: #999;
    }

    &,
    &:before,
    &:after,
    &:checked:before,
    &:checked:after {
      transition: ease .3s;
      -webkit-transition: ease .3s;
      -moz-transition: ease .3s;
      -o-transition: ease .3s;
    }
  }
}

