:root {
  --background-color: #eaeaea;
  --primary-color: #d69e2e;
  --secondary-color: #111;

  --link-color: #fco;
  --link-color-border: #09f;

  --navigation-link-color: #555;
}

body[data-theme="dark"] {
  //--background-color: #565656;
  //--secondary-color: #fff;
}