<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="Daniël de Vries" />
    <link href="/assets/stylesheets/main.css" rel="stylesheet" />
    <title>$title$ - Daniel de Vries</title>
    <script src="/assets/javascripts/site.js" type="text/javascript">
    </script>
  </head>
  <body>
    <header>
      <h2>
        <a href="/">
          Daniël de Vries
        </a>
      </h2>
      <div id="themeSwitch"></div>
    </header>
    <main>
$body$
    </main>
    <footer>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
    </footer>
  </body>
</html>
