<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="Daniël de Vries" />
    <link href="/assets/stylesheets/main.css" rel="stylesheet" />
    <script src="/assets/javascripts/site.js" type="text/javascript"></script>
    <title>$title$ - Daniel de Vries</title>
  </head>
  <body class="container">
    <header class="main">
      <a href="/" class="name">
        Daniël de Vries
      </a>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <div id="theme-switch"></div>
    </header>
    <main>
$body$
    </main>
  </body>
</html>
